<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304106480953-kgbtorc60bp88m019gbml1s9vuug8trb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304106480953-kgbtorc60bp88m019gbml1s9vuug8trb</string>
	<key>API_KEY</key>
	<string>AIzaSyD56gr1Dz3BJwL7MsF-UzPV3ODjG2CUg8k</string>
	<key>GCM_SENDER_ID</key>
	<string>304106480953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codeblurb</string>
	<key>PROJECT_ID</key>
	<string>codeblurb</string>
	<key>STORAGE_BUCKET</key>
	<string>codeblurb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304106480953:ios:2332410c4e27594530f4e8</string>
</dict>
</plist>